<div class="roadmap">
    <div class="roadmap__inner section__box">
        <div class="section__cell section__cell_phase_alt">
            <div class="roadmap__imgbox">
                <img src="/img/regular/roadmap/roadmap_phase_4.png"
                     alt="roadmap"
                     title="roadmap"
                     class="img roadmap__img">
                <img src="/img/regular/roadmap/roadmap_phase_4_burn.gif"
                     alt=""
                     class="img roadmap__img-burn">
            </div>
        </div>
        <div class="roadmap__textbox section__cell">
            <div class="roadmap__text paragraph">
                <!-- <p class="paragraph__item roadmap__phase">PHASE 4</p> -->
                <!-- <p class="paragraph__item roadmap__title">Burn</p> -->
                <!-- <p class="paragraph__item"> -->
                <!--     Want to get the utility from your NFT? Burn it right on our website in the crematorium section(coming soon). -->
                <!--     Project's tokenomics aims to constant  burning of NFT of all types of rarity to ensure rise in value of the remaining ones. -->
                <!-- </p> -->
                <p class="paragraph__item roadmap__phase">PHASE 4 - Q3 2023</p>
                <p class="paragraph__item">Start of international booking</p>
                <!-- <p class="paragraph__item paragraph__item_min"> -->
                <!--     Note! Before burning epic and legendary NFTs to book a live performance, check out booking rules and requirements - /link to the booking rules pdf/. -->
                <!-- </p> -->
            </div>
        </div>
    </div>
</div>
