<div class="roadmap">
    <div class="roadmap__inner section__box">
        <div class="section__cell section__cell_phase_alt">
            <div class="roadmap__imgbox">
                <img src="/img/regular/roadmap/roadmap_phase_2.png"
                     alt="roadmap"
                     title="roadmap"
                     class="img roadmap__img">
            </div>
        </div>
        <div class="roadmap__textbox section__cell">
            <div class="roadmap__text paragraph">
                <!-- <p class="paragraph__item roadmap__phase">PHASE 2 - Q1 2023</p> -->
                <!-- <p class="paragraph__item roadmap__title">Bury deadbois</p> -->
                <!-- <p class="paragraph__item"> -->
                <!--     Deadboys are an additional PFP collection inside the main one. They all are dead and buried, and never had a chance to decide how the funeral would go. We are here to give this chance to you! -->
                <!-- </p> -->
                <p class="paragraph__item roadmap__phase">PHASE 2 - Q1 2023</p>
                <p class="paragraph__item deco__line-cros">Discord and Twitter launch</p>
                <p class="paragraph__item">Pre-launch marketing</p>
                <p class="paragraph__item">Community growth</p>
            </div>
        </div>
    </div>
</div>
