<div class="roadmap">
    <div class="roadmap__inner section__box">
        {% include 'component/roadmap/roadmap-phase-1.njk' %}
        {% include 'component/roadmap/roadmap-phase-2.njk' %}
        {% include 'component/roadmap/roadmap-phase-3.njk' %}
        {% include 'component/roadmap/roadmap-phase-4.njk' %}
    </div>
</div>
