<div class="roadmap">
    <div class="roadmap__inner section__box">
        <div class="roadmap__textbox section__cell">
            <div class="roadmap__text paragraph">
                <!-- <p class="paragraph__item roadmap__phase">PHASE 3</p> -->
                <!-- <p class="paragraph__item roadmap__title">Mint</p> -->
                <!-- <p class="paragraph__item">Connect your wallet, mint right from our website and wait for the reveal.</p> -->
                <p class="paragraph__item roadmap__phase">PHASE 3 - Q2 2023</p>
                <p class="paragraph__item">Mint</p>
                <p class="paragraph__item">Marketing campaign launch</p>
                <p class="paragraph__item">International booking scheduling</p>
            </div>
        </div>
        <div class="roadmap__buttonbox section__cell">
            <span class="deco__buttonbox">
                <div class="button button_view_primary button_size_xl">
                    <span class="button__text">Mint</span>
                </div>
            </span>
        </div>
    </div>
</div>
