<div class="welcome page__welcome">
    <div class="welcome__inner">
        <div class="welcome__box">
            <!-- <div class="welcome__title">Welcome! Are your ready to mint?</div> -->
            <div class="welcome__imgbox deco__animation-glow">
                <img src="/img/regular/collection/collection_coffin.png"
                     alt="collection"
                     title="collection"
                     class="img deco__animation-shake">
            </div>
            <div class="welcome__button">
                <div class="deco__buttonbox">
                    <div class="button button_size_l button_view_primary welcome__button">
                        <div class="button__text">Click to discover</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
