<div class="collection">
    <div class="collection__inner section__box">
        <div class="collection__textbox section__cell">
            <div class="collection__text paragraph">
                <p class="paragraph__item">
                    Coffin Dance crew announced the start of <a class="link">international booking</a>, which will be carried out <a class="link">exclusively</a> through owning an NFT from a limited collection of <a class="link">5,000 NFTs</a>.
                </p>
                <!-- <p class="paragraph__item">Golden Coffins have engravings with 900 unique international names  - find yours!</p> -->
                <p class="paragraph__item">And it seems there is something inside the coffin… mint to discover.</p>
                <p class="paragraph__item">
                    Use Coffin Dance NFTs as profile picture - show everyone your life-time right to the unique funeral.
                </p>
            </div>
        </div>
        <div class="collection__imgbox deco__animation-glow section__cell">
            <img src="/img/regular/collection/collection_coffin.png"
                 alt="collection"
                 title="collection"
                 class="img collection__img deco__animation-shake">
        </div>
    </div>
</div>
