<div class="menu adaptive {{ inject.parentClass }}">
    <div class="menu__inner">
        <div class="menu__controller adaptive__controller">
            <div class="icon icon_burger header__icon"></div>
        </div>
        <div class="menu__body">
            <div class="menu__box adaptive__box">
                <div class="menu__close adaptive__controller">
                    <div class="icon icon_close header__icon"></div>
                </div>
                <div class="menu__list">
                    {% for item in menu.menu_list %}
                        {% if item.id === 'connect' %}
                            <div class="menu__item">
                                <a class="menu__link menu__link_connect link to" href="#{{ item.href }}">{{ item.name }}</a>
                            {% else %}
                                <div class="menu__item">
                                    <a class="menu__link link to" href="#{{ item.href }}">{{ item.name }}</a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
