.video {
  &__inner {
    display: flex;
    justify-content: center;

    padding-top: 300px;
    padding-bottom: 100px;
    @include bp994-block() {
      padding-top: 100px;
    }
  }
  &__box {
    z-index: 1;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // position: relative;
    width: 100%;
    max-width: 1080px;
    padding: 10px;
    position: relative;
    // border: 3px dashed $color_light;

    // border-radius: 8px;
    // background: url('../img/regular/bg/bg_dashed.svg') no-repeat 50%;
    // background-size: contain;
    //       position: relative;
    overflow: hidden;
    &::after {
      position: absolute;
      content: '';
      top: -7px;
      right: -7px;
      bottom: -7px;
      left: -7px;
      border: dashed 10px $color_light;
    }

    @include bp994-block() {
      padding: 15px;
    }
    @include bp994-block() {
      padding: 20px;
    }
  }

  &__player {
    // position: relative;
    z-index: 1;
  }
}
