<div class="faq">
    <ul class="faq__inner">
        <li class="faq__item">
            <div class="faq__q">Who are the Coffin Dancers?</div>
            <div class="faq__a">
                The meme with dancing pallbearers from Ghana blew up the Internet during pandemic and the original NFT with the Coffin Dance was sold at the auction for 327ETH. Since the team announced the start of international booking, we started working on the collection.
            </div>
        </li>
        <li class="faq__item">
            <div class="faq__q">When is Coffin Dance mint?</div>
            <div class="faq__a">Q2 2023</div>
        </li>
        <li class="faq__item">
            <div class="faq__q">What is the mint price?</div>
            <div class="faq__a">TBA</div>
        </li>
        <li class="faq__item">
            <div class="faq__q">What are the maximum mints per wallet?</div>
            <div class="faq__a">TBA</div>
        </li>
        <li class="faq__item">
            <div class="faq__q">How to get a WL spot?</div>
            <div class="faq__a">
                The majority of WL spots will be used for marketing purposes, but you can get one following our instructions <a href="https://discord.gg/8RPTvvBTrJ">here</a>
            </div>
        </li>
        <li class="faq__item">
            <div class="faq__q">When is reveal?</div>
            <div class="faq__a">TBA</div>
        </li>
        <li class="faq__item">
            <div class="faq__q">How can I check the rarity?</div>
            <div class="faq__a">TBA</div>
        </li>
        <li class="faq__item">
            <div class="faq__q">How to book a team if I got a rare NFT?</div>
            <div class="faq__a">
                In order to book the Coffin Dance team you have to burn your NFT(will be available on our website).
            </div>
        </li>
    </ul>
</div>
