.footer {
  &__inner {
    display: flex;
    flex-wrap: wrap;

    padding-bottom: 25px;

    @include bp994-block() {
      flex-wrap: nowrap;
    }
  }

  &__copyright {
    display: flex;
    justify-content: center;

    width: 100%;

    opacity: 0.7;

    @include bp994-block() {
      font-size: 16px;
      width: auto;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    order: -1;

    width: 100%;
    @include bp994-block() {
      order: 0;
      flex-grow: 1;
      justify-content: flex-end;
    }
  }
}
