<div class="banner layout__offset">
    <div class="banner__inner deco__guys">
        <div class="banner__cell">
            <div class="banner__title title title_main">
                <span class="title__text">Coffin Dance</span>
            </div>
            <div class="section__text banner__text">
                NFT collection with real-life utility from iconic pallbearers - mint the golden coffin and change your life…or death!
            </div>
            <div class="banner__button">
                <span class="deco__buttonbox">
                    <div class="button button_view_primary button_size_xl">
                        <span class="button__text">Mint</span>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
