{% extends "layout/layout-section-base.njk" %}
{% block section %}
    <div class="section__row deco__spot deco__spot_banner_first">{% include "component/banner/banner.njk" %}</div>
    <div class="section__row deco__spot deco__spot_banner_second">{% include "component/video/video.njk" %}</div>
{% endblock section %}
