/* COLORS */
/* Main color */
$color_light: #fff;
$color_dark: #000;
$color_blue: #4e13fa;
$color_blue_light: #640dfb;
$color_gray: #202020;
$color_mint: #9bf204;
$color_passive: #ccc;
$color_active: yellow;
$color_attention: red;
$color_success: green;

/* TIME*/

$th: 0.25s;

/* Settings */
/* Main */
$background_main: $color_dark;
$font_color: $color_light;
