<div class="video layout__offset">
    <div class="video__inner deco__planet">
        <div class="relative-box video__box">
            <div class="relative-box__inner">
                <div class="relative-box__ration"></div>
                <iframe class="video__player relative-box__content"
                        src="https://www.youtube.com/embed/j9V78UbdzWI"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
